In [40]:
import pandas as pd

In [42]:
ReactionTypeData = pd.read_csv('/Users/yashwantsingh/Documents/Accenture/Dataset Without Preprocced/ReactionTypes.csv')
reactionData = pd.read_csv('/Users/yashwantsingh/Documents/Accenture/Dataset Without Preprocced/Reactions.csv')
contentData  = pd.read_csv('/Users/yashwantsingh/Documents/Accenture/Dataset Without Preprocced/Content.csv')

### ReactionTypeData Preprocessing

In [44]:
ReactionTypeData.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [46]:
ReactionTypeData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16 non-null     int64
 1   Type        16 non-null     object
 2   Sentiment   16 non-null     object
 3   Score       16 non-null     int64
dtypes: int64(2), object(2)
memory usage: 644.0+ bytes

## contentData Preprocessing

In [49]:
contentData.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [51]:
contentData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [53]:
final_contentData =contentData.drop(columns=['URL', 'User ID'])

In [55]:
final_contentData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   Type        1000 non-null   object
 3   Category    1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

## reactionData Preprocessing

In [57]:
reactionData.head()

   Unnamed: 0                            Content ID     Type        Datetime
0         NaN                                   NaN      NaN             NaN
1         1.0  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust   07/11/20 9:43
2         2.0  97522e57-d9ab-4bd6-97bf-c24d952602d2  dislike  17/06/21 12:22
3         3.0  97522e57-d9ab-4bd6-97bf-c24d952602d2   scared   18/04/21 5:13
4         4.0  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust  06/01/21 19:13

In [61]:
reactionData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  24573 non-null  float64
 1   Content ID  24573 non-null  object
 2   Type        24573 non-null  object
 3   Datetime    24573 non-null  object
dtypes: float64(1), object(3)
memory usage: 798.7+ KB

In [63]:
reactionData = reactionData.dropna()

In [65]:
reactionData

,Unnamed: 0,Content ID,Type,Datetime
1,1.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07/11/20 9:43
2,2.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17/06/21 12:22
3,3.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18/04/21 5:13
4,4.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06/01/21 19:13
5,5.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,23/08/20 12:25
...,...,...,...,...
25548,25548.0,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,27/06/20 9:46
25549,25549.0,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,16/02/21 17:17
25550,25550.0,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,12/09/20 3:54
25551,25551.0,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,04/11/20 20:08
25552,25552.0,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,04/01/21 4:55

In [67]:
distn_val =reactionData['Type'].unique()

In [69]:
distn_val

array(['disgust', 'dislike', 'scared', 'interested', 'peeking', 'cherish',
       'hate', 'love', 'indifferent', 'super love', 'intrigued',
       'worried', 'like', 'heart', 'want', 'adore'], dtype=object)

# Table Merging

In [74]:
reactions_with_types = pd.merge(reactionData, ReactionTypeData, on='Type', how='left')

In [78]:
reactions_with_types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24573 entries, 0 to 24572
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  24573 non-null  float64
 1   Content ID    24573 non-null  object
 2   Type          24573 non-null  object
 3   Datetime      24573 non-null  object
 4   Unnamed: 0_y  24573 non-null  int64
 5   Sentiment     24573 non-null  object
 6   Score         24573 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.3+ MB

In [86]:
final_data = pd.merge(reactions_with_types, final_contentData, on='Content ID', how='left')

In [88]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24573 entries, 0 to 24572
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  24573 non-null  float64
 1   Content ID    24573 non-null  object
 2   Type_x        24573 non-null  object
 3   Datetime      24573 non-null  object
 4   Unnamed: 0_y  24573 non-null  int64
 5   Sentiment     24573 non-null  object
 6   Score         24573 non-null  int64
 7   Unnamed: 0    24573 non-null  int64
 8   Type_y        24573 non-null  object
 9   Category      24573 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 1.9+ MB

In [90]:
final_data.sample(10)

,Unnamed: 0_x,Content ID,Type_x,Datetime,Unnamed: 0_y,Sentiment,Score,Unnamed: 0,Type_y,Category
14421,14989.0,24231380-c9a7-4b07-bd51-c9bd5c49cb7c,indifferent,09/03/21 23:53,5,neutral,20,575,photo,cooking
8242,8563.0,eec5dae8-e4d0-4b15-80a9-ac55352cb5ca,want,05/08/20 17:30,1,positive,70,327,GIF,cooking
1138,1183.0,220d9dc1-f8a5-422d-b200-3819f3b89b2b,dislike,22/09/20 4:59,11,negative,10,44,video,dogs
9566,9938.0,b6ecb09e-a706-4589-bb75-70cb1cc590eb,disgust,04/08/20 21:38,2,negative,0,379,photo,culture
15580,16199.0,0c6e8e2a-7692-4490-b545-f76b0d06697a,want,20/02/21 11:16,1,positive,70,627,photo,animals
22958,23875.0,edea43f3-1541-4e42-8419-d1cdf749025c,like,02/11/20 20:58,10,positive,50,933,photo,cooking
17756,18467.0,79818849-98f9-4b6b-9be8-4ed4c1ad59a5,adore,27/08/20 1:58,9,positive,72,721,GIF,fitness
5757,5983.0,b1c49557-0623-4fb2-8f22-1453286fedad,scared,27/08/20 2:56,14,negative,15,230,video,healthy eating
4024,4179.0,7bb8c7ec-8d65-43e8-a9fb-ac01936b18cc,interested,13/04/21 7:22,4,positive,30,157,video,cooking
7982,8293.0,9ee8836d-af4b-46ad-8869-4e0b1dedff7d,adore,25/10/20 4:35,9,positive,72,316,audio,tennis

In [92]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24573 entries, 0 to 24572
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  24573 non-null  float64
 1   Content ID    24573 non-null  object
 2   Type_x        24573 non-null  object
 3   Datetime      24573 non-null  object
 4   Unnamed: 0_y  24573 non-null  int64
 5   Sentiment     24573 non-null  object
 6   Score         24573 non-null  int64
 7   Unnamed: 0    24573 non-null  int64
 8   Type_y        24573 non-null  object
 9   Category      24573 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 1.9+ MB

In [99]:
final_data = final_data.rename(columns={'Type_x': 'Reaction type'})

In [105]:
final_data.sample(20)

,Unnamed: 0_x,Content ID,Reaction type,Datetime,Unnamed: 0_y,Sentiment,Score,Unnamed: 0,Type_y,Category
10909,11343.0,e409d5be-a02d-4688-9869-eb940fe1e133,adore,14/01/21 8:56,9,positive,72,441,audio,public speaking
21335,22191.0,3c6354b3-7e8a-4d8c-bb80-33f17c17bd32,hate,20/01/21 0:06,3,negative,5,870,audio,cooking
10402,10813.0,9108109e-c521-4528-9d90-4c804cbb866d,heart,16/02/21 3:01,0,positive,60,418,audio,veganism
939,977.0,457301ee-3e87-40d8-8b82-ea4e1fa90e39,intrigued,19/10/20 3:36,12,positive,45,37,GIF,healthy eating
21222,22073.0,b3b384bf-3a17-4ccb-ba86-583dede8fe3c,worried,26/05/21 5:55,15,negative,12,865,photo,education
12653,13158.0,888660b0-7dd8-4983-858a-101cd03d392b,dislike,05/02/21 23:15,11,negative,10,512,video,science
7531,7824.0,11b96207-c1c5-4083-948d-2942684aae0d,heart,23/11/20 4:21,0,positive,60,298,photo,studying
8262,8584.0,3ce1063a-2277-4285-97b0-9bd53a941cd7,intrigued,21/03/21 11:35,12,positive,45,328,GIF,travel
15088,15685.0,1d8fbfdc-3c0f-4fbf-ac50-f812ce9db36e,indifferent,09/12/20 18:02,5,neutral,20,605,video,food
19282,20059.0,4dd4da35-453e-466d-95ca-b1a7710fac1f,super love,25/06/20 8:30,7,positive,75,790,GIF,technology
23544,24482.0,5dc325aa-d5d1-4552-9997-cd25b7608be9,super love,16/10/20 14:27,7,positive,75,956,audio,healthy eating
11310,11758.0,e0c5ae74-b379-4d34-a7ae-824daea8d682,intrigued,09/06/21 13:28,12,positive,45,455,audio,Soccer
15238,15841.0,b62831cc-7447-465b-9c58-1fc659b17310,love,28/01/21 7:37,6,positive,65,611,audio,animals
11734,12201.0,bcd3702f-c27e-48ce-889b-63f765f498ef,scared,01/03/21 18:40,14,negative,15,474,GIF,education
17471,18170.0,088e2e43-61a8-475f-a3e6-061f626b0f16,want,06/10/20 19:34,1,positive,70,709,photo,veganism
12667,13173.0,14ebfb59-8d36-4857-b8e2-b6d2fb3b243d,super love,12/07/20 20:14,7,positive,75,513,GIF,studying
3142,3262.0,f01ec49c-3179-43bb-b127-2b1a73f34b06,interested,04/04/21 20:38,4,positive,30,120,photo,animals
16970,17652.0,a6cace19-96eb-40b3-b6fb-2a1a4e444dde,dislike,31/12/20 8:35,11,negative,10,692,photo,cooking
218,228.0,b18cb63f-4c8e-44ee-a47f-541e95191d11,hate,21/11/20 8:24,3,negative,5,9,photo,public speaking
6985,7257.0,636e6499-b670-4cd4-a829-2c4c9e07db2a,worried,18/02/21 3:40,15,negative,12,276,photo,soccer

In [107]:
final_data = final_data.rename(columns={'Type_y': 'Content type'})

In [109]:
final_data.head()

,Unnamed: 0_x,Content ID,Reaction type,Datetime,Unnamed: 0_y,Sentiment,Score,Unnamed: 0,Content type,Category
0,1.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07/11/20 9:43,2,negative,0,0,photo,Studying
1,2.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17/06/21 12:22,11,negative,10,0,photo,Studying
2,3.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18/04/21 5:13,14,negative,15,0,photo,Studying
3,4.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06/01/21 19:13,2,negative,0,0,photo,Studying
4,5.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,23/08/20 12:25,4,positive,30,0,photo,Studying

In [ ]:
final_data = final_data.drop(columns=['','Unnamed: 0_y', 'Unnamed: 0'])

In [123]:
final_data.head()

,Unnamed: 0_x,Content ID,Reaction type,Datetime,Sentiment,Score,Content type,Category
0,1.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07/11/20 9:43,negative,0,photo,Studying
1,2.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17/06/21 12:22,negative,10,photo,Studying
2,3.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18/04/21 5:13,negative,15,photo,Studying
3,4.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06/01/21 19:13,negative,0,photo,Studying
4,5.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,23/08/20 12:25,positive,30,photo,Studying

In [125]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24573 entries, 0 to 24572
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0_x   24573 non-null  float64
 1   Content ID     24573 non-null  object
 2   Reaction type  24573 non-null  object
 3   Datetime       24573 non-null  object
 4   Sentiment      24573 non-null  object
 5   Score          24573 non-null  int64
 6   Content type   24573 non-null  object
 7   Category       24573 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 1.7+ MB

In [127]:
final_data = final_data.drop(columns=['Unnamed: 0_x'])

In [129]:
final_data.head()

,Content ID,Reaction type,Datetime,Sentiment,Score,Content type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07/11/20 9:43,negative,0,photo,Studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17/06/21 12:22,negative,10,photo,Studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18/04/21 5:13,negative,15,photo,Studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06/01/21 19:13,negative,0,photo,Studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,23/08/20 12:25,positive,30,photo,Studying

In [ ]:
#Table Processed

# Exporting Final Table

In [133]:
final_data.to_excel('/Users/yashwantsingh/Documents/Final_Combined_Data.xlsx', index=False)